<div class="row">
  <div class="col-3">

   </div>


   <div class="col-7">
     <div class="text ml-4 mt-4 mb-4">
  Bienvenue dans votre espace d'échanges et de discussions autour des Astres et de l'Espace.
  Nous rappelons qu'il s'agit d'un espace communautaire, alors veillez à ce que la courtoisie et la bienveillance
  soient d'usage, échangez dans la convivialité !
  <br><br> Embarquez dans le vaisseau de la curiosité et gardez des étoiles pleins les yeux, Salutation!
  <br>


<br><br>
<br><br>Proposez à nos admins vos thèmes favoris<br><br>
</div>
<div class="text ml-4 mt-4 mb-4 justify">
  <div class="sujets-forum">
    <div class="talk">
      <form action="" method="post">
        <input type="text" name="pseudo" time="date" placeholder='Renseignez votre pseudo...'>
        <br>
        <textarea name="sujets" placeholder="Proposition de thèmes" cols="70" rows="4"></textarea>
        <input type="submit" name="envoyer">
      </form>
      <section id="Sujets"></section>

    </div>

  </div>
</div>
</div>
</div>