<div class="row">


                <div class="col-3">
                    <!-- Tab navs -->
                    <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link" id="v-tabs-home-tab" data-mdb-toggle="tab" href="Astrotec/forum/sujets" role="tab"
                            aria-controls="v-tabs-home" aria-selected="true">Accueil Forum</a>
                            
                        <a class="nav-link active" id="v-tabs-profile-tab" data-mdb-toggle="tab" href="Astrotec/forum/soleil"
                            role="tab" aria-controls="v-tabs-profile" aria-selected="true">En savoir plus sur le Soleil</a>

                        <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab" href="sujet2" role="tab"
                            aria-controls="v-tabs-messages" aria-selected="true">Sujet 2</a>

                        <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab" href="sujet3" role="tab"
                            aria-controls="v-tabs-messages" aria-selected="true">Sujet 3</a>

                    </div>
            <!-- Tab navs -->
        </div>

        
</div>
