<div class="row">
    <div class="col-3">
        <!-- Tab navs -->
        <div
        class="nav flex-column nav-tabs text-center"
        id="v-tabs-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="v-tabs-home-tab"
          data-mdb-toggle="tab"
          href='Astrotec/forum/sujets'
          role="tab"
          aria-controls="v-tabs-home"
          aria-selected="true"
          >Accueil Forum</a
        >
        <br>
        <a
          class="nav-link"
          id="v-tabs-profile-tab"
          data-mdb-toggle="tab"
          href="Astrotec/forum/soleil"
          role="tab"
          aria-controls="v-tabs-profile"
          aria-selected="true"
          >Savons-nous tout de notre Etoile : Le Soleil ?</a
        >
        <br>
        <a
          class="nav-link active"
          id="v-tabs-messages-tab"
          data-mdb-toggle="tab"
          href="sujet/forum/exploration"
          role="tab"
          aria-controls="v-tabs-messages"
          aria-selected="true"
          >L'exploration spatiale</a
        >
        <br>
        <a
        class="nav-link"
        id="v-tabs-messages-tab"
        data-mdb-toggle="tab"
        href="sujet3"
        role="tab"
        aria-controls="v-tabs-messages"
        aria-selected="true"
        >Cosmologie</a
      >
      <br>
      </div>
        <!-- Tab navs -->
     </div>
</div>