<div class="row">
    <div class="col-3">
        <!-- Tab navs -->
        <div
        class="nav flex-column nav-tabs text-center"
        id="v-tabs-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="v-tabs-home-tab"
          data-mdb-toggle="tab"
          href='Astrotec/forum/sujets'
          role="tab"
          aria-controls="v-tabs-home"
          aria-selected="true"
          >Accueil Forum</a
        >
        <br>
        <a
          class="nav-link"
          id="v-tabs-profile-tab"
          data-mdb-toggle="tab"
          href="Astrotec/forum/soleil"
          role="tab"
          aria-controls="v-tabs-profile"
          aria-selected="true"
          >Savons-nous tout de notre Etoile : Le Soleil ?</a
        >
        <br>
        <a
          class="nav-link active"
          id="v-tabs-messages-tab"
          data-mdb-toggle="tab"
          href="Astrotec/forum/exploration"
          role="tab"
          aria-controls="v-tabs-messages"
          aria-selected="true"
          >L'exploration spatiale</a
        >
        <br>
        <a
        class="nav-link"
        id="v-tabs-messages-tab"
        data-mdb-toggle="tab"
        href="Astrotec/forum/cosmologie"
        role="tab"
        aria-controls="v-tabs-messages"
        aria-selected="true"
        >Cosmologie</a
      >
      <br>
      </div>
        <!-- Tab navs -->
     </div>


     <div class="col-9">
        <!-- Tab content -->
        <div class="tab-content" id="v-tabs-tabContent">
        <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px" >


            <br>
            
            <h1 class="text-center">Vers l'infinie et l'audela !! </h1>
            <br><br>

            <img src="../../assets/Img/Space_Exploration.jpg" alt="">
            
            <br>
            <br>
            <br><br>
            <h1 class="text-center">L'Exploration Spaciale : Ou en sommes nous ? </h1>
            Dans sa course à l'exploration l'Homme n'a eu de cesse de viser toujours plus loin cela avec l'objectif d'être toujours plus rapide 

        </div>
            <br> <br>
            <br> <br>
            <br> <br>
            <br> <br>
            <br> <br>
            <br>
     <br>
     <br>
     <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px" >
     <h2>Espace Commentaires :</h2>
     </div>
     <br>
     <br>
     <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px" >
        <div class="affichage-conversation" >
          <div class="talk">
             <form action="" method="post">
               <input type="text" name="pseudo" time="date">
               <br>
               <textarea name="commentaire-forum" placeholder="Commentaires..." cols="70" rows="4"></textarea>
               <input type="submit" name="envoyer">
             </form>
             <section id="message"></section>

          </div>
         
        </div>
        </div>
    </div>
</div>

</div>