<div>
    <div class="row">
        <div class="col-3">
          <!-- Tab navs -->
          <div
            class="nav flex-column nav-tabs text-center"
            id="v-tabs-tab"
            role="tablist"
            aria-orientation="vertical"
          >
          <a class="nav-link ">
          Messages instantanés
          </a>
            <a
              class="nav-link active"
              id="chat-global"
              data-mdb-toggle="tab"
              href="Astrotec/forum/chat"
              role="tab"
              aria-controls="chat-global"
              aria-selected="true"
              >Sacha</a
            >
          </div>
          <!-- Tab navs -->
        </div>
      
        <div class="col-9">
          <!-- Tab content -->
          <div class="tab-content" id="v-tabs-tabContent">
            <div
              class="tab-pane fade show active"
              id="chat-global"
              role="tabpanel"
              aria-labelledby="chat-global"
            >
            
            
            </div>
          </div>
          <!-- Tab content -->
        </div>
      </div>
</div>

