<div class="row">
    <div class="col-3">
        <!-- Tab navs -->
        <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link" id="v-tabs-home-tab" data-mdb-toggle="tab" href="Astrotec/forum/sujets" role="tab"
                aria-controls="v-tabs-home" aria-selected="true">Accueil Forum</a>
                
            <a class="nav-link active" id="v-tabs-profile-tab" data-mdb-toggle="tab" href="Astrotec/forum/soleil"
                role="tab" aria-controls="v-tabs-profile" aria-selected="true">En savoir plus sur le Soleil</a>

            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab" href="sujet2" role="tab"
                aria-controls="v-tabs-messages" aria-selected="true">Sujet 2</a>

            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab" href="sujet3" role="tab"
                aria-controls="v-tabs-messages" aria-selected="true">Sujet 3</a>

        </div>
        <!-- Tab navs -->
    </div>

    <div class="col-9">
        <!-- Tab content -->
        <div class="tab-content" id="v-tabs-tabContent">

            <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px" >
                <h2>Vous voulez en savoir plus sur le soleil ? Vous êtes au bon endroit ! </h2>
                <br>
                <br>
                L’histoire du <a href="https://www.astrofiles.net/soleil">Soleil</a> commence environ 4,6 milliards d’années avant notre ère, 
                dans le cœur d’une supernova. Le Soleil est à l’origine du système qui porte son nom, le 
                <a href="http://localhost:4200/Astrotec/solaire">système solaire.</a> <br>
                <br>
                Le Soleil est un incroyable chaudron d’énergie, représentant plus de 99% de la masse totale du système solaire, 
                le reste se partageant avec les planètes et les autres objets du système solaire.
                Le système solaire est enfermé dans une sorte de bulle, l’héliosphère, qui est comme la marque d’une frontière. 
                L’héliosphère représente l’influence du Soleil dans tout ce système. Au-delà de l’héliosphère commence l’espace interstellaire. <br>
                <br>
                Toute forme de vie sur Terre dépend directement ou indirectement du Soleil, et tous les combustibles que nous utilisons aujourd’hui 
                (pétrole, charbon...) pour produire de l’énergie sont issus du carburant solaire.
            </div>
        </div>

    </div>