<div class="row">
  <div class="col-3">
    <!-- Tab navs -->
  </div>

  <div class="col-8">
    <!-- Tab content -->
    <div class="tab-content" id="v-tabs-tabContent">
      <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px">
        <h2>Explication de la cosmologie </h2>
        <br>
        <br>
        Le terme de <a
          href="https://www.futura-sciences.com/sciences/definitions/univers-cosmologie-15241/">cosmologie</a> désigne
        la branche de l'astrophysique qui s'intéresse à l'origine, la nature, la structure et l'évolution de
        l'univers.<br>
        <br>
        La physique newtonienne étant incapable de décrire l'univers dans son ensemble, la cosmologie a recours à la
        relativité générale. Albert Einstein
        a d'ailleurs été l'un des premiers à publier un modèle cosmologique moderne. Son modèle était assez peu conforme
        à la réalité puisqu'il décrivait
        un univers homogène, fini et statique. Il a eu toutefois le mérite d'introduire le principe selon lequel
        l'univers est spatialement homogène, faisant
        perdre à l'Homme sa place privilégiée au sein de la mécanique céleste.
        <br>
        <br>
        <br>
        <h2>Le modèle standard de la cosmologie </h2>
        <br>
        <br>
        Les théories cosmologiques plus récentes reposent quant à elles sur le principe de l'expansion de l'univers et
        sur les propriétés physiques de la
        matière qui le compose. Le modèle de la cosmologie ekpyrotique prétend, par exemple, que le Big Bang serait en
        fait le résultat de la collision de
        deux univers.
        <br>
        Le modèle cosmologique standard résulte d'observations astronomiques (nouveaux catalogues de galaxies,
        anisotropies du fond diffus cosmologique,
        supernovæ lointaines, etc.) réalisées grâce à des instruments de plus en plus performants. Il est celui qui rend
        compte aujourd'hui le plus efficacement
        des observations réalisées par les astrophysiciens.
        <br>
        <br>
        <br>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px">
        <h2>Espace Commentaires :</h2>
      </div>
      <br>
      <br>
      <div class="text ml-4 mt-4 mb-4 justify" style=" margin-right:200px">
        <div class="affichage-conversation">
          <div class="talk">
            <form action="" method="post">
              <input type="text" name="pseudo" time="date">
              <br>
              <textarea name="commentaire-forum" placeholder="Commentaires..." cols="70" rows="4"></textarea>
              <input type="submit" name="envoyer">
            </form>
            <section id="message"></section>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>