<div class="container-fluid fond">

    <!--Section: Titre-->
    <section class="title text-center pt-4 mb-4">
        Merci pour votre message !
    </section>
    <!--Section: Titre-->


    <br>


    <!--Section: Sous-titre-->
    <section class="soustitre text-center mt-4 mb-4">
        Notre équipe reviendra vers vous très rapidement pour répondre à votre demande.
        <br>N'hésitez pas à continuer à naviguer sur le site en attendant !
    </section> 
    <!--Section: Sous-titre-->


    <br>



    <div class="container mr-auto ml-auto mb-4" style="text-align: center;">
        <img alt="GIF système solaire" src="assets/gif/GIF systeme solaire.gif" />
    </div>


</div>

<app-pied-de-page></app-pied-de-page>

