.jumbotron {
    position: relative;
    background: #fff url("/assets/Img/satellites/{{satellites.name}}.jpg") center center;/*slide.jpg =>you image*/   
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}