<!-- <p>detail-satellites works!</p> -->
<div class="Jumbotron">
    <div style="width: 100%; justify-content: center; align-items:center; display: flex; height: 100%;background-color: black;">
        <img width="30%" src="/assets/Img/satellites/{{satellites.name}}.jpg" alt="..." />
        <p>{{satellites.name}} à pour rayon moyen {{satellites.radius}} km et pour paramètre gravitationnel standard {{satellites.gm}}</p>




        <p>{{satellites.name}} est le satellite de {{planete.name}}</p>
    </div>
</div>

<!--!!!!!!!!!!!!!!!!!!!!!!!! A RESOUDRE !!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!-- <app-pied-de-page></app-pied-de-page> -->

