<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="chat-global">
       
        <div class="nav-top">
            <p>Boite de chat</p>
            <div class="location">
                <img src="../../assets/icons/icons_chat/retour.jpg">
                <p>Retour</p>
            </div>
            <!-- ce sera une illustration d'un eventuel chat sans réels utilisateur appartenant à la BDD-->
            <div class="utilisateur">

                <p>Sacha</p>
                <p>En ligne</p>
             </div> 

             <div class="signalement">
                    <img src="../../assets/icons/icons_chat/signaler 2 .jpg">

             </div>

             <div class="conversation">
                 <div class="talk right">
                     <!--<img src="" alt="">-->
                     <p>Lorem ipsem</p>

                 </div>
                 <div class="talk left">
                     <!--<img src="" alt="">-->
                    <p>Lorem ipsem</p>

                </div>
                <div class="talk right">
                    <!--<img src="" alt="">-->
                    <p>Lorem ipsem Lorem ipsem Lorem ipsem Lorem ipsem</p>

                </div>
                <div class="talk left">
                    <!--<img src="" alt="">-->
                    <p>Lorem ipsem Lorem ipsem Lorem ipsem</p>

                </div>
             </div>


        </div>
    </div>
    
</body>
</html>