<div class="container flex-centertop">
    <!-- Card -->
    <div class="card m-5 w-50 ml-auto mr-auto">

        <!-- Card body -->
        <div class="card-body">

            <!-- Material form register -->
            <form #connect="ngForm" (ngSubmit)="connexion(connect.value)">
                <p class="h4 text-center py-4">Connexion</p>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" name="pseudo" class="form-control" ngModel="">
                    <label for="materialFormCardEmailEx" class="font-weight-light pl-3">Votre login</label>
                </div>


                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" name="mdp" class="form-control" ngModel="">
                    <label for="materialFormCardPasswordEx" class="font-weight-light pl-3">Votre mot de passe</label>
                </div>

                <div class="text-center py-4 mt-3">
                    <button class="btn btn-cyan" type="submit">Se Connecter</button>
                </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->

</div>