<body class="fond">
    
    <div class="title text-center pt-5">
        Espace Membre : Acceuil Forum
    </div>
    <br>
    <br>
   
    <div>
        <h5>Bienvenue dans votre espace d'échanges et de discussions autour des Astres et de l'Espace 
            <br>Nous rappelons qu'il s'agit d'un espace communautaire, alors veillez à ce que la courtoisie et la bienveillance soient d'usage, échangez dans la convivialité ! 
            <br><br> gardez des étoiles pleins les yeux, Salutation!</h5>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark grey">
         <!-- Links -->
         <ul class="navbar-nav mr-auto nav-fill w-100">
            <li class="nav-item" routerLinkActive='active'>
              <a class="nav-link" routerLink='forum'> Accueil Forum
                <span class="sr-only">(current)</span>
              </a>
            </li>
             <!-- Dropdown -->
            <li class="nav-item" routerLinkActive='active'>
              <a class="nav-link" routerLink='chats'>Chat</a>
            </li>
        </ul>
    </nav>
</body>


