<body class="fond">
    <div class="container">

        <div class="title text-center" style="width: 100%;">
            Le système solaire
        </div>

        <br>

        <div class="soustitre container text-center">
            Tout savoir sur le système solaire
        </div>

        <br>

        <div align="center">
            <img width="50%" src="/assets/Img/systeme_solaire.jpg" alt="..." />
        </div>

        <br>

        <div class="text container">
            Le Système solaire est le nom donné à notre système planétaire, composé du Soleil et de l'ensemble des
            objets célestes qui l'accompagnent et gravitent autour de lui.
            <br>
            <br>
            <u>
                Comment s’est formé le système solaire ?
            </u>
            <br>
            <br>
            Il y a environ cinq milliards d'années, des poussières et des gaz se sont lentement agglomérés sous l'effet
            de la gravité pour former de gigantesques sphères : le Soleil et les planètes qui l'entourent. Notre système
            solaire s'est alors formé. La majeure partie de cette matière, principalement de l'hydrogène, s'est amassée
            pour former le Soleil. Les autres gaz et les poussières se sont plutôt agglomérés sous forme de planètes et
            d'astres de plus petites tailles.
            <br>
            <br>
            <u>
                Quels sont les astres qui composent le système solaire ?
            </u>
            <br>
            <br>
            En son centre, le système solaire comprend une étoile, le Soleil, autour de laquelle gravitent huit
            planètes ainsi que des astéroïdes et des planètes naines. Presque à l'extrémité du système solaire se trouve
            la ceinture de Kuiper et le nuage d'Oort, deux zones riches en astéroïdes, en noyaux de comètes, en gaz et
            en poussières interstellaires.
            <br>
            <br>
            Astrotec vous propose de percer les mystères du système solaire en vous permettant de découvrir d’un peu
            plus près les
            <a href="https://www.youtube.com/watch?v=A9lqjNI8EZA">planètes</a>
            et leurs
            <a href="http://localhost:4200/Astrotec/satellites">satellites</a>
            naturels respectifs qui le composent.
            <br>
            <br>

        </div>

    </div>

</body>