<div class="container">
    <div class="row">
        <div *ngFor="let q of questionreponses" class="col-sm-4">
            <div class="card p-4" style="background-color: darkorange;">
                <div class="row">
                    <div class="col-sm 4">{{q.question.id}}</div>
                    <div class="col-sm-8">
                        <h5>{{q.question.enonce}}</h5>
                        <div *ngFor="let a of questionreponses">
                            <h5>{{a.answer}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
