<body class="fond" > 
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark grey">

      <!-- Navbar brand -->
  
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto nav-fill w-100">
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink='Accueil'> Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink='Catalogue'>Catalogue</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink='Forum'>Forum</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink='boutique'>Boutique</a>
          </li>
  
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link"> <span style="vertical-align: middle;" class="material-icons">
                logout
              </span></a>
          </li> 
        </ul>
      </div>
    </nav>

  <br>
  <br>
  <br>
  <div class="title text-center">
    <h1>Bienvenue sur ce site</h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="soustitre container">
    Sous titre
  </div>

  <div class="text container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum sem eu ligula tempus, at mollis arcu feugiat. Morbi et augue risus. Mauris et metus ac tellus tincidunt consectetur sed non purus. Vivamus scelerisque odio a interdum sagittis. Ut commodo lorem ut mauris tempus, eget porttitor eros porttitor. Donec ac mauris sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sit amet enim et neque laoreet volutpat non varius metus. Etiam nec dolor in urna laoreet porta sed sit amet lorem. Vivamus facilisis blandit orci eu fermentum. Nullam et hendrerit lorem.
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
<router-outlet></router-outlet>
