<form (ngSubmit)="onSubmit(quizzForm)" #quizzForm="ngForm">

   <div class="row">

      <div *ngFor="let q of questions" class="col-sm-5">
         <div class="card p-4" style="background-color: darkorange;">


            <div class="row">
               <div>{{q.id}}</div>
               <div>
                  {{q.enonce}}

                  <div *ngFor="let r of reponses; let i = index" class="row">

                     <div *ngIf="q.id == r.question.id">

                        <div class="col-sm-12">

                           <input type="radio" id={{r.id}} name={{q.id}} value={{r.id}} ngModel required
                              #{{q.id}}="ngModel" *ngIf="r.status" (click)="scoreParQuestion[q.id-1]=1">

                           <input type="radio" id={{r.id}} name={{q.id}} value={{r.id}} ngModel required
                              #{{q.id}}="ngModel" *ngIf="!r.status" (click)="scoreParQuestion[q.id-1]=0">

                           <label for={{r.id}}>{{r.answer}}</label>
                           
                        </div>

                     </div>


                  </div>
               </div>


            </div>
         </div>

      </div>
   
   </div>



   <div class="row text-center">
      <button type="submit" class="btn btn-light envoyer" value="Send">Envoyer</button>
   </div>

   {{score}}
   <br>{{message}}


</form>



<app-pied-de-page></app-pied-de-page>