<div class="container-fluid fond">

   <!--Section: Titre-->
   <section class="title text-center pt-4 mb-4">
      Envie de tester vos connaissances ?
   </section>
   <!--Section: Titre-->

   <!--Section: Texte-->
   <section class="soustitre text-center pt-4 mb-4">
      Répondez à ces 10 questions en faisant le minimum d'erreur !
   </section>
   <!--Section: Titre-->

   <div class="row">

      <div class="col-md-12 mb-md-0 mb-5 ml-4 mr-auto">

         <form (ngSubmit)="onSubmit(quizzForm)" #quizzForm="ngForm">


            <div class="row ml-auto mr-auto">

               <div *ngFor="let q of questions" class="col-sm-6" style="justify-content: center;">
                  <div class="card p-5 mt-4 mb-4 ml-4 mr-4" style="background-color: darkorange;">


                     <div class="row mb-2">
                        <div class="" style="font-size: larger;">{{q.id}}.</div>
                        <div class="col-sm-11" style="font-size: larger;">{{q.enonce}}</div>
                     </div>

                     <div *ngFor="let r of reponses; let i = index" class="row">

                        <div *ngIf="q.id == r.question.id">

                           <div class="col-sm-12">

                              <input type="radio" id={{r.id}} name={{q.id}} value={{r.id}} ngModel required
                                 #{{q.id}}="ngModel" *ngIf="r.status" (click)="scoreParQuestion[q.id-1]=1">

                              <input type="radio" id={{r.id}} name={{q.id}} value={{r.id}} ngModel required
                                 #{{q.id}}="ngModel" *ngIf="!r.status" (click)="scoreParQuestion[q.id-1]=0">

                              <label for={{r.id}} class="ml-2">{{r.answer}}</label>

                           </div>

                        </div>


                     </div>


                  </div>

               </div>

            </div>



            <div class="text-center">
               <button type="submit" class="btn btn-light envoyer" value="Send" style="color: darkorange; font-weight: bolder; font-size: larger;">Envoyer</button>
            </div>


            <div class="text-center mt-4 p-4">
               <div class="title">{{message}}</div>
            </div>

   


         </form>
      </div>
   </div>

</div>

<app-pied-de-page></app-pied-de-page>