<div class="container flex-centertop">
    <!-- Card -->
    <div class="card m-5 w-50 ml-auto mr-auto">

        <!-- Card body -->
        <div class="card-body">

            <!-- Material form register -->
            <form>
                <p class="h4 text-center py-4">S'enregistrer</p>

                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="nom" class="form-control">
                            <label for="nom" class="font-weight-light pl-3">Votre nom</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col">
                        <!-- Material input -->
                        <div class="md-form">
                            <input type="text" id="prenom" class="form-control">
                            <label for="prenom" class="font-weight-light pl-3">Votre pseudo*</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->

                <!-- Material input date -->
                <div class="md-form">
                    <i class="fa fa-calendar prefix grey-text"></i>
                    <input type="date" id="ddn" name="ddn" class="form-control">
                    <label for="pseudo" class="font-weight-light pl-3">Votre date de naissance</label>
                </div>

                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="pseudo" class="form-control">
                    <label for="pseudo" class="font-weight-light pl-3">Votre pseudo*</label>
                </div>


                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="email" class="form-control">
                    <label for="email" class="font-weight-light pl-3">Votre email*</label>
                </div>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                    <input type="email" id="emailConfirm" class="form-control">
                    <label for="emailConfirm" class="font-weight-light pl-3">Confirmer votre email*</label>
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="mdp" class="form-control">
                    <label for="mdp" class="font-weight-light pl-3">Votre mot de passe*</label>
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                    <input type="password" id="mdpConfirm" class="form-control">
                    <label for="mdpConfirm" class="font-weight-light pl-3">Confirmer votre mot de
                        passe*</label>
                </div>

                <div class="text-center py-4 mt-3">
                    <button class="btn btn-cyan" type="submit">S'enregistrer</button>
                </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->
</div>