<body class="fond">
    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="title text-center" style="width: 100%;">
                Achetez vos produits made in univers !
            </div>

            <br><br><br><br>
            <div class="col-md-4">
                <div class="product-wrapper mb-30 text-center">
                    <div class="product-img">
                        <a (click)="goToDetail()" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt="">
                        </a>
                        <span class="text-center"><i class="fa fa-rupee"></i>49,99€</span>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a (click)="goToDetail()"> <i class="fa fa-plus"></i></a>
                                <a href="#"> <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 mr-4">
                        <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                            greo goer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-wrapper mb-30 text-center">
                    <div class="product-img">
                        <a (click)="goToDetail()" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt="">
                        </a>
                        <span><i class="fa fa-rupee"></i>35,99€</span>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a (click)="goToDetail()"> <i class="fa fa-plus"></i> </a>
                                <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 mr-4">
                        <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                            greo goer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-wrapper mb-30 text-center">
                    <div class="product-img"> <a (click)="goToDetail()" data-abc="true"> <img
                                src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>
                        <span><i class="fa fa-rupee"></i>55,99€</span>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a (click)="goToDetail()"> <i class="fa fa-plus"></i> </a>
                                <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 mr-4">
                        <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                            greo goer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-wrapper mb-30 text-center">
                    <div class="product-img"> <a (click)="goToDetail()" data-abc="true"> <img
                                src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>
                        <span><i class="fa fa-rupee"></i>79,99€</span>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a (click)="goToDetail()"> <i class="fa fa-plus"></i> </a>
                                <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 mr-4">
                        <p>Mon titre un peu beaucoup hype r mega loooog zfke eihf reo goerjhg ore gore gore
                            greo goer</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="icon-cart" style="width: 5%; height: 8%;"><a (click)="goToCart()" id="cart-bottom" style="height: 6%;"> <i class="fa fa-shopping-cart" style="color: white; font-size: 1.7em;"></i></a></div>
</body>