<div class="container d-flex justify-content-center mt-100">
    <div class="row">
        <div class="col-md-4">
            <div class="product-wrapper mb-30 text-center">
                <div class="product-img">
                    <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>
                    <span class="text-center"><i class="fa fa-rupee"></i>49,99€</span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <a href="#"> <i class="fa fa-plus"></i></a>
                            <a href="#"> <i class="fa fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                        greo goer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-wrapper mb-30 text-center">
                <div class="product-img">
                    <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>
                    <span><i class="fa fa-rupee"></i>35,99€</span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <a href="#"> <i class="fa fa-plus"></i> </a>
                            <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                        greo goer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-wrapper mb-30 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg"
                            alt=""> </a>
                    <span><i class="fa fa-rupee"></i>55,99€</span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <a href="#"> <i class="fa fa-plus"></i> </a>
                            <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <p>Mon titre un peu beaucoup hyper mega loooog zfke oeihf reo goerjhg ore gore gore
                        greo goer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-wrapper mb-30 text-center">
                <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg"
                            alt=""> </a>
                    <span><i class="fa fa-rupee"></i>79,99€</span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <a href="#"> <i class="fa fa-plus"></i> </a>
                            <a href="#"> <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ml-4 mr-4">
                    <p>Mon titre un peu beaucoup hyper mega loooog zfke o eihf reo goerjhg ore gore gore
                        greo goer</p>
                </div>
            </div>
        </div>
    </div>
</div>