<body class="fond">
    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="title text-center" style="width: 100%;">
                Achetez vos produits made in univers !
            </div>

            <br><br><br><br>
            <div class="col-md-4" *ngFor='let p of produits'>
                <div class="product-wrapper mb-30 text-center">
                    <div class="product-img">
                        <a (click)="goToDetail(p)" data-abc="true"> <img src={{p.image}} width="227">
                        </a>
                        <span style="top: 0.1em;background-color: rgba(0, 0, 0, 0.5); color: white;"><i class="fa fa-rupee"></i>{{parseFloat(p.prix)}}€</span>
                        <div class="product-action">
                            <div class="product-action-style" style="border: 1px solid black;">
                                <a (click)="goToDetail(p)"> <i class="fa fa-plus"></i></a>
                                <a href="#"> <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 mr-4">
                        <p>{{p.nom}}</p>
                    </div>
                </div>
            </div>
                  
        </div>

    </div>
    <div id="icon-cart" style="width: 5%; height: 8%;"><a (click)="goToCart()" id="cart-bottom" style="height: 6%;"> <i class="fa fa-shopping-cart" style="color: white; font-size: 1.7em;"></i></a></div>
</body>