.zoomsatellite {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    }
  
  .zoomsatellite img {
    width: 55%;
    transition: 1s all ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    }
  
  .zoomsatellite:hover img {
    transform: scale(1.2);
    } 