<div class="fond">
    <div class="container">

        <div class="title text-center">
            Les satellites naturels des planètes du système solaire
        </div>

        <br>
        <br>

        <div class="soustitre container-fluid text-center">
            Tout savoir sur les satellites naturels de nos planètes du système solaire
        </div>

        <br>
        <br>

        <div class="text container">
            Un satellite est un astre en orbite autour d'un astre autre qu'une étoile. De tels objets sont également
            appelés lunes, par analogie avec la Lune, le satellite naturel de la Terre.

            <br>
            <br>

            Aujourd’hui, on connaît près de 600 satellites naturels dans le Système solaire, dont près de 200 confirmés
            autour des planètes du Système solaire.

            <br>
            <br>

            Cliquez sur le satellite naturel de votre choix pour en apprendre plus sur celui-ci :

        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-4" *ngFor='let s of satellites'>
                <div
                    style="width: 100%; justify-content: center; align-items:center; display: flex; height: 100%;background-color: transparent;">
                    <div class="zoomsatellite">
                        <button class="btn btn" (click)="goToDetailSatellite(s)">{{ s.name }}<img
                                src="/assets/Img/satellites/{{s.name}}.jpg" alt="..." /></button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<app-pied-de-page></app-pied-de-page>