

<!-- <p>satellites works!</p> -->
<div class="fond">

    <br>
    <br>

    <div class="title text-center" style="width: 100%;">
        Les satellites
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="soustitre container text-center mb-4">
        Tout savoir sur les satellites de notre système solaire
    </div>

    <br>
    <br>

    <div class="descriptif container text-align mt-4 pl-auto ml-4">
    Un satellite naturel est un objet céleste en orbite autour d'une planète ou d'un autre objet plus grand que lui-même qui n'est pas d'origine humaine, par opposition aux satellites artificiels. Ils peuvent être de grosse taille et ressembler à de petites planètes. De tels objets sont également appelés lunes, par analogie avec la Lune, le satellite naturel de la Terre.
    </div>

    <br>
    <br>

    <div class="container">
        <div class="col-sm-6" *ngFor='let s of satellites'>
            <h1> {{ s.name }} </h1>
        </div>
    </div>

</div>
