<div class="fond">

    <br>
    <br>

    <div class="title text-center" style="width: 100%;">
        Les planètes
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="soustitre container text-center mb-4">
        Tout savoir sur les planètes de notre système solaire
    </div>

    <br>
    <br>

    <div class="descriptif container text-align mt-4 pl-auto ml-4">
        Le système solaire est le système planétaire du Soleil, auquel appartient la Terre. 
        Il est composé de cette étoile et des objets célestes gravitant autour d'elle : 
        les huit planètes confirmées et leurs satellites naturels connus.

    </div>

    <br>
    <br>

    <div class="descriptif container text-center mt-4 pl-auto ml-4">
        <div class="row">
            <div class="col-sm-6" *ngFor='let p of planetes'>
                <div class="card mb-3" style="max-width: 540px;" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Img/planets/{{p.name}}.png" alt="..."
                                class="img-fluid" />
                        </div>
                        <div class="col-md-8">  
                            <div class="card-body">
                                <p class="card-text">
                                    Cliquez ici pour en apprendre plus sur {{ p.name }}
                                </p>
                                <p class="card-text"> 
                                    <a href="http://localhost:4200/Astrotec/planetes/{{p.name}}" target="_blank"> <button class="btn btn-grey">{{ p.name }}</button> </a>
                                <p class="card-text">
                                    <button onclick="goToDetail(p)" class="btn btn-grey">{{ p.name }}</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 
</div>

