<div class="fond">

    <br>
    <br>

    <div class="title text-center" style="width: 100%;">
        Les planètes du système solaire
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="soustitre container text-center">
        Tout savoir sur les planètes de notre système solaire
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="descriptif container text-center">
        Le Système solaire est le nom donné à notre système planétaire, composé du Soleil et de l'ensemble des objets célestes qui l'accompagnent et tournent autour de lui.
        
    </div>

    <br>
    <br>

    <div class="descriptif container text-center mt-4 pl-auto">
        <div class="row">
            <div class="col-sm-6" *ngFor='let p of planetes'>
                <div class="card mb-3" style="max-width: 540px;" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Img/planets/{{p.name}}.png" alt="..."
                                class="img-fluid" />
                        </div>
                        <div class="col-md-8">  
                            <div class="card-body">
                                <p class="card-text">
                                    Pour en apprendre plus sur {{ p.name }}, cliquez ici :
                                </p>
                                <p class="card-text">
                                    <button onclick="goToDetail(p)" class="btn btn-grey">{{ p.name }}</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 
</div>

