<div class="fond">

    <br>
    <br>

    <div class="title text-center" style="width: 100%;">
        Les planètes
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="soustitre container text-center mb-4">
        Tout savoir sur les planètes de notre système solaire
    </div>

    <br>
    <br>

    <div class="descriptif container text-align mt-4 pl-auto ml-4">
        Le système solaire est le système planétaire du Soleil, auquel appartient la Terre. 
        Il est composé de cette étoile et des objets célestes gravitant autour d'elle : 
        les huit planètes confirmées et leurs satellites naturels connus.

    </div>

    <div class="container">
        <div class="col-sm-6" *ngFor='let p of planetes'>
            <h1> {{ p.name }} </h1>
        </div>
    </div>

</div>

