.zoom1 {
width: 200px;
height: 200px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom1 img {
width: 25%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom1:hover img {
transform: scale(6);
} 

.zoom2 {
width: 200px;
height: 200px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom2 img {
width: 58%;
transition: 0.5s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom2:hover img {
transform: scale(2.5);
} 

.zoom3 {
width: 200px;
height: 200px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom3 img {
width: 59%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom3:hover img {
transform: scale(2.5);
} 

.zoom4 {
width: 200px;
height: 200px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom4 img {
width: 30%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom4:hover img {
transform: scale(4);
} 

.zoom5 {
width: 900px;
height: 900px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom5 img {
width: 91%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom5:hover img {
transform: scale(1.1);
} 

.zoom6 {
width: 1500px;
height: 1500px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom6 img {
width: 90%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom6:hover img {
transform: scale(1.2);
} 

.zoom7 {
width: 500px;
height: 500px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom7 img {
width: 60%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom7:hover img {
transform: scale(1.8);
} 

.zoom8 {
width: 500px;
height: 500px;
overflow: hidden;
margin: 0 auto;
display: flex;
justify-content: center;
}

.zoom8 img {
width: 60%;
transition: 1s all ease-in-out;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
display: block;
}

.zoom8:hover img {
transform: scale(1.8);
} 