<div class="container-fluid fond">

    <!--Section: Titre-->
    <section class="title text-center pt-5">
        Sources
    </section>
    <!--Section: Titre-->

    <br>
    <br>

    <!--Section: Text-->
    <section class="text ml-4 mr-4 mb-4">
        Sur cette page, vous trouverez les liens des références des images, des vidéos et des premières données 
        permettant la création des bases de données des planètes et de leurs satellites associés. 
        Ces bases de données présentes ici étant dynamiques, elles ont ensuite été étoffées par les membres 
        ayant ajouté des articles.
    </section>
    <!--Section: Text-->

    <div class="container-fluid mb-4 pb-4">
          
          <table id="sources">
            <tr>
                <th>Nom de la donnée</th>
                <th>Type de fichier</th>
                <th>Lien associé</th>
            </tr>
            <tr>
                <td>BDD planètes</td>
                <td>Fichier SQL</td>
                <td><a href="https://devstronomy.com/#/datasets">https://devstronomy.com/#/datasets</a></td>
            </tr>
            <tr>
                <td>BDD satellites</td>
                <td>Fichier SQL</td>
                <td><a href="https://devstronomy.com/#/datasets">https://devstronomy.com/#/datasets</a></td>
            </tr>
            <tr>
                <td>Image Mercure</td>
                <td>Fichier PNG</td>
                <td><a href="https://www.freepng.fr/png-oovuct/">https://www.freepng.fr/png-oovuct/</a></td>
            </tr>
            <tr>
                <td>Image Vénus</td>
                <td>Fichier PNG</td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Venus_globe_-_transparent_background.png">https://commons.wikimedia.org/wiki/File:Venus_globe_-_transparent_background.png</a></td>
            </tr>
            <tr>
                <td>Image Terre</td>
                <td>Fichier PNG</td>
                <td><a href="https://www.pngplay.com/image/46904/png-download/46903">https://www.pngplay.com/image/46904/png-download/46903</a></td>
            </tr>
            <tr>
                <td>Image Mars</td>
                <td>Fichier PNG</td>
                <td><a href="https://www.freepnglogos.com/images/mars-18087.html">https://www.freepnglogos.com/images/mars-18087.html</a></td>
            </tr>
            <tr>
                <td>Image Jupiter</td>
                <td>Fichier PNG</td>
                <td><a href="https://fr.wikipedia.org/wiki/Fichier:Jupiter_(transparent).png">https://fr.wikipedia.org/wiki/Fichier:Jupiter_(transparent).png</a></td>
            </tr>
            <tr>
                <td>Image Saturne</td>
                <td>Fichier PNG</td>
                <td><a href="https://www.stickpng.com/fr/img/nature/espace/planetes/saturne">https://www.stickpng.com/fr/img/nature/espace/planetes/saturne</a></td>
            </tr>
            <tr>
                <td>Image Uranus</td>
                <td>Fichier PNG</td>
                <td><a href="https://www.freepng.fr/png-oxmn7r/">https://www.freepng.fr/png-oxmn7r/</a></td>
            </tr>
            <tr>
                <td>Image Neptune</td>
                <td>Fichier PNG</td>
                <td><a href="https://fr.wikipedia.org/wiki/Fichier:Neptune_cutout.png">https://fr.wikipedia.org/wiki/Fichier:Neptune_cutout.png</a></td>
            </tr>
            <tr>
                <td>Image Lune</td>
                <td>Fichier JPG</td>
                <td><a href="https://fr.wikipedia.org/wiki/Lune">https://fr.wikipedia.org/wiki/Lune</a></td>
            </tr>
            <tr>
                <td>Image Ganymede</td>
                <td>Fichier JPG</td>
                <td><a href="https://fr.wikipedia.org/wiki/Ganymède_(lune)">https://fr.wikipedia.org/wiki/Ganymède_(lune)</a></td>
            </tr>
            <tr>
                <td>Image Callirhoe</td>
                <td>Fichier JPG</td>
                <td><a href="https://thesolarsystem.fandom.com/wiki/Callirrhoe">https://thesolarsystem.fandom.com/wiki/Callirrhoe</a></td>
            </tr>
            <tr>
                <td>Image Phobos</td>
                <td>Fichier JPG</td>
                <td><a href="https://fr.wikipedia.org/wiki/Phobos_(lune)">https://fr.wikipedia.org/wiki/Phobos_(lune)</a></td>
            </tr>
            <tr>
                <td>Image Kallichore</td>
                <td>Fichier JPG</td>
                <td><a href="https://thesolarsystem.fandom.com/wiki/Kallichore">https://thesolarsystem.fandom.com/wiki/Kallichore</a></td>
            </tr>
            <tr>
                <td>Image Système Solaire</td>
                <td>Fichier JPG</td>
                <td><a href="http://spaceblog.over-blog.com/2017/05/qu-est-ce-qu-un-systeme-solaire.html">http://spaceblog.over-blog.com/2017/05/qu-est-ce-qu-un-systeme-solaire.html</a></td>
            </tr>
            <tr>
                <td>Vidéo C'est pas Sorcier - Le Système Solaire</td>
                <td>Lien Youtube Vidéo</td>
                <td><a href="https://www.youtube.com/watch?v=I7cajVnzm8k&ab_channel=C%27estpassorcier">https://www.youtube.com/watch?v=I7cajVnzm8k&ab_channel=C%27estpassorcier</a></td>
            </tr>
          </table>
    </div>

</div>


<!--!!!!!!!!!!!!!!!!!!!!!!!! A RESOUDRE !!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!-- <app-pied-de-page></app-pied-de-page> -->
