.fond{
    background-image : url("/assets/Img/fond_etoiles.jpg");
    color: white; 
    height: auto; 
}


.title{
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
    color: rgb(180, 107, 23);
    font-family: 'Squada One', sans-serif;
}


.soustitre{
    font-size: clamp(10px, 5vw, 30px);
    line-height: 1;
    color: gray;
    font-family: Impact, sans-serif; 
}

.text{
    font-size: 17px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: justify;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
 }

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
