.fond{
    background-image : url("/assets/Img/fond_etoiles.jpg");
    color: white; 
    height: auto; 
}


.title{ 
    font-size: 60px;
    color: rgb(180, 107, 23);
    font-family: 'Orbitron', sans-serif;
}

.soustitre{
    font-size: 40px;
    color: gray;
    font-family: Impact, 'Arial Black', sans-serif;
}

.text{
    font-size: 25px;
    color: white;
    font-family: Arial, 'Abhaya Libre', sans-serif;
    text-align: justify;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
 }

body { 
    font-family: 'Abhaya Libre', serif;
}


 .main {
    min-height:100%;
    position:relative;
    padding-bottom: auto;   /* Hauteur du pied de page */
 }
 
 footer {
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:auto;   /* Hauteur du pied de page */
 }

