
<body class="fond">
    <div class="title text-center pt-5">
        <h1>Bienvenue sur Astrotec</h1>    
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="soustitre container">
        Le meilleur site d'exploration des astres environnants
    </div>
    
    <div class="text container">
        <p>Visitez notre site pour en apprendre plus sur les planètes, satellites ou encore exoplanètes qui nous entourent.
        <br>Cliquez sur la catagorie d'astres qui vous intéresse et vous pourrez tout apprendre sur votre . 
        <br>N'hésitez pas à faire un tour dans notre boutique, nous avons un tas de goodies pour les fervus d'astrologie !</p>
    </div>
</body>
<router-outlet></router-outlet>

