.title{
    font-size: 100px;
}

.soustitre{
    font-size: 50px;
}

.descriptif{
    font-size: 20px;
    color: white;
    font-family: Arial Black, Arial, Verdana, sans-serif;
    text-align: justify;
}

.textform{
    font-size: 20px;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
}

.envoyer{
    font-size: 20px;
    color: rgb(180, 107, 23);
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.carousel-caption{
    transform: translateY(74%);
}