.title{
    font-size: clamp(50px, 5vw, 100px);
}

.soustitre{
    font-size: clamp(25px, 5vw, 40px);
    line-height: 1;
}

.descriptif{
    font-size: clamp(17px, 5vw, 20px);
    color: white;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.textform{
    font-size: 15px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.envoyer{
    font-size: 20px;
    color: rgb(180, 107, 23);
    font-family: Impact, sans-serif;
}

.carousel-caption{
    transform: translateY(74%);
}